json-indentado/flows.json
[
    {
        "id": "f25c7e70.7b09e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "40be25c9.71a9bc",
        "type": "function",
        "z": "f25c7e70.7b09e",
        "name": "Save context",
        "func": "context.flow.chatId = msg.payload.chatId;\ncontext.flow.type = msg.payload.type;\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 355.5,
        "y": 110.75,
        "wires": [
            [
                "5484b589.49b46c"
            ]
        ]
    },
    {
        "id": "5484b589.49b46c",
        "type": "watson-conversation-v1",
        "z": "f25c7e70.7b09e",
        "name": "Bobobo-bo Bo-bobot",
        "workspaceid": "2bb24eec-9558-452a-8c4d-ed99fdb74b15",
        "multiuser": false,
        "context": true,
        "empty-payload": false,
        "default-endpoint": true,
        "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
        "timeout": "",
        "optout-learning": false,
        "x": 191.625,
        "y": 327,
        "wires": [
            [
                "79dfd50c.5a669c"
            ]
        ]
    },
    {
        "id": "d157f18b.097f9",
        "type": "function",
        "z": "f25c7e70.7b09e",
        "name": "Restore context",
        "func": "msg.payload.chatId = context.flow.chatId;\nmsg.payload.type = context.flow.type;\nmsg.payload.content = msg.payload.output.text[0];\nvar intentContent = msg.payload.intents[0].intent;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 165.9375,
        "wires": [
            [
                "a837f85c.21c508"
            ]
        ]
    },
    {
        "id": "9ab00dc8.05c1",
        "type": "function",
        "z": "f25c7e70.7b09e",
        "name": "Not authorized user",
        "func": "msg.payload.content = \"You're not authorized user\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 589.75,
        "y": 32.4375,
        "wires": [
            [
                "a837f85c.21c508"
            ]
        ]
    },
    {
        "id": "b0659506.148e58",
        "type": "comment",
        "z": "f25c7e70.7b09e",
        "name": "Read.me",
        "info": "1) Create a Watson Conversation on IBM Cloud (https://www.bluemix.net)\n2) Create a Telegram Bot:\n   Open web.telegram.org\n   find BotFather (contact)\n   send /newbot\n   Give a name for your bot (Botfather will ask it)\n   Give a user name for it, which should have in the end \"Bot\"\n   The BotFather will give you a token.\n   ",
        "x": 92.5,
        "y": 224.68746948242188,
        "wires": []
    },
    {
        "id": "79dfd50c.5a669c",
        "type": "switch",
        "z": "f25c7e70.7b09e",
        "name": "Get function",
        "property": "payload.context.func",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "x": 413.5,
        "y": 329,
        "wires": [
            [
                "d157f18b.097f9",
                "75ea7069.41f63",
                "42864760.72dac8"
            ]
        ],
        "l": false
    },
    {
        "id": "75ea7069.41f63",
        "type": "debug",
        "z": "f25c7e70.7b09e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 604.5,
        "y": 228,
        "wires": [],
        "l": false
    },
    {
        "id": "d075c4a7.01e4a8",
        "type": "telegram receiver",
        "z": "f25c7e70.7b09e",
        "name": "",
        "bot": "749280d9.fb3e2",
        "saveDataDir": "",
        "x": 163,
        "y": 51,
        "wires": [
            [
                "40be25c9.71a9bc"
            ],
            [
                "9ab00dc8.05c1"
            ]
        ]
    },
    {
        "id": "a837f85c.21c508",
        "type": "telegram sender",
        "z": "f25c7e70.7b09e",
        "name": "",
        "bot": "749280d9.fb3e2",
        "x": 980.75,
        "y": 89,
        "wires": [
            []
        ]
    },
    {
        "id": "42864760.72dac8",
        "type": "cloudant out",
        "z": "f25c7e70.7b09e",
        "name": "8bitBot",
        "cloudant": "",
        "database": "nodered",
        "service": "Chatbot-Study-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 621.5,
        "y": 362,
        "wires": [],
        "l": false
    },
    {
        "id": "749280d9.fb3e2",
        "type": "telegram bot",
        "z": 0,
        "botname": "Bobobo-bo Bo-bobot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "pollinterval": "",
        "usesocks": false,
        "sockshost": "",
        "socksport": "",
        "socksusername": "",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "",
        "publicbotport": "",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "verboselogging": false
    }
]